.fotoItemCarrito
{
  width:10rem;
  border: green  2px solid;
  border-radius: 1rem;
}


@media (max-width: 576px) {
  .fotoItemCarrito
  {
    width:5rem;
    border: green  2px solid;
    border-radius: 1rem;
  }
  
}

@media (max-width: 400px) {

}
