table{
  border-collapse: collapse;
  width: 75%;
  margin: 1rem auto;
  border: solid 1px green;
  
}

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left ;
    border: solid 1px green;
  
  }

  th {
    background-color:  red;
  }


  button {

    padding: 0.2rem 0.8rem;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    margin-top: 0.2rem;
    cursor: pointer;
    background-color: white;
    border: 1px solid #dc3545;
    color: black;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    text-align: center;

  }
  button:hover {
    background-color: red;
    border-color: var(--verde-1);
}

@media (max-width: 576px) {
  table {margin-bottom: 2rem;
    width: 75%; 
    
  }

  th, td {
    font-size: 0.65rem; 
    padding: 6px; 
  }

  button {
    width: 100%; 
    font-size: 0.5rem;
  }
}

@media (max-width: 400px) {
  table {
    width: 75%; 
    
  }

  th, td {
    font-size: 0.5rem; 
    padding: 1px; 
  }

  button {
    width: 100%; 
    font-size: 0.5rem;
  }
}
